@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css");
.wrapper {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
  position: relative; 
}
*{
    box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block; 
}
.layout-content .region-content{
    display: none;
}
.view-empty{
    display: none;
}
.feed-icons{
    display: none;
}
.button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 35px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.7px;
    font-weight: 600;
    border: 2px solid transparent;
    background: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
    transition: all 500ms ease;
    cursor: pointer;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.button:hover{
    background: radial-gradient(circle at 0.1% 53.8%, rgb(255, 182, 172) 0%, rgb(255, 123, 172) 100.2%);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.view-header{
    text-align: center;
}

h6{
    color: #f70776;
    font-size: 12px;
    display: inline-block;
    padding: 5px 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px dashed #f70776;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    position: relative;
}

blockquote {
    margin: 0 0 20px; 
    padding: 10px 20px; 
    border-left: 5px solid #f70776;
    font-size: 16px;
  }
  

h2{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    color: #f70776;
    margin: 0;
}
p{
    padding: 0;
    font-size: 16px;
    color: #000;
    background-color: none;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.description h2 a span{
    display: none;
}

#block-headerlogo{
    width: 20%;
}

.is-active{
    border-bottom: 2px solid;
}





/* CSS FOR SIDEBAR FIRST AND SIDEBAR SECOND */
.path-contact .side-con{
  
    display: flex;
   
  }
  /* .side-con >div{
    flex: 1 1 33.33%;
  } */
  
  .path-contact .sidebar-first, .path-contact .sidebar-second{
    width: calc(25% - 20px);
  }
  .path-contact .region-content{
    width:100%;
  }


/*header*/
.header{
    background: linear-gradient(109.6deg, rgb(245, 95, 152) 11.2%, rgb(254, 148, 136) 100.2%);
}
#block-headerlogo:hover{
    transform: translateY(-0.25em);
    transition: transform 0.25s ease-out;
}
.header .header-inner .navigation .region {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.header .nav-menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;   
    transition: all 0.6s;   
}
.header .nav-item{
   padding: 10px 20px;
   position: relative;
   
}
.header .nav-item:hover{
    display: inline-block;
    
 }

.header .nav-menu .nav-item a{
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    
 }
 .header .nav-menu .nav-item:last-child{
          font-size: 14px;
          text-transform: capitalize;
          letter-spacing: 0.7px;
          font-weight: 600;
          border: 2px solid transparent;
          background: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
          transition: all 500ms ease;
          cursor: pointer;
          color: #fff;
          overflow: hidden;
    
 }
 

.header .nav-item:hover .nav-menu-sub{
    visibility: visible;   
    opacity: 1;   
}
.header .nav-menu-sub{
    padding: 0;
    list-style: none;
    background: radial-gradient(circle at 0.1% 53.8%, rgb(255, 182, 172) 0%, rgb(255, 123, 172) 100.2%);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 999;
    top: 50px;
}
.header .nav-menu-sub .nav-menu-child{
    padding: 0;    
}
.header .nav-menu .nav-item--expanded .nav-menu-child .nav-item a{
    color: #fff;
    padding: 10px 4px 10px 4px;
}
.header .nav-menu .nav-item--expanded .nav-menu-child .nav-item{
    padding: 10px 4px 10px 4px ;
}
.header .nav-menu .nav-item--expanded{
    position: relative;
    
}
.header .nav-menu .nav-item--expanded::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    top: 0;
    left: 0;
    display: none;
}
.header .nav-menu .nav-item--expanded .nav-menu-child .nav-item:last-child{
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.7px;
    font-weight: 600;
    border: none !important;
    background: none !important;
    transition: all 500ms ease;
    cursor: pointer;
    color: #000 !important;
    overflow: hidden;

}


/*Banner*/
.banner{
    position: relative;
}
.banner::after{
    position: absolute;
    top: 0;
    content: "";
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background: linear-gradient(to right, rgb(238, 156, 167), rgb(255, 221, 225));
}
.banner-area .views-field-field-bimg{
    position: relative;
}
.banner-area .views-field-field-bimg img{
    max-height: 500px;
}
.banner-area .views-field-body{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.banner-area .banner-content{
    --c: #ca2f74; /* the color */
  --b: .1em;    /* border length*/
  --d: 20px;    /* the cube depth */
  padding: 30px;
  --_s: calc(var(--d) + var(--b));
  
  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background:
    conic-gradient(at left var(--d)  bottom var(--d),
      #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at left var(--_s) bottom var(--_s),
      #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
  transform: translate(calc(var(--d)/-1),var(--d));
  clip-path: 
    polygon(
     var(--d) 0%, 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)),
     100% calc(100% - var(--d)),
     var(--d) calc(100% - var(--d))
    );
  transition: 0.5s;
}
.banner-area .banner-content:hover{
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
}
.banner-area .banner-content h1{
    font-size: 60px;
    color: #ca2f74;
    text-transform: capitalize;
    margin-bottom: 0px;
    font-weight: 700;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
}
.banner-area .banner-content h2{
    font-size: 30px;
    color: #ca2f74;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
}
.banner-area .banner-content p{
    margin-bottom: 5px;
    color: #ca2f74;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}



 /*Project*/
.project-area{
     padding: 50px 0;
}
.project-list img{
    width: 100%;
}
.project-list ul{
    list-style: none;
    padding: 20px 0 40px;
    margin: 0;
    position: relative;
}
.project-list .projects .slick-slide{
    padding: 5px;
    font-size: 0;
    margin: 10px;
    background: 1px linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.project-list .projects button{
    margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 0;
  appearance: none;
}
.project-list .projects .slick-prev{
    left: 48%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid deeppink;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.project-list .projects .slick-next{
  right: 48%;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid deeppink;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.project-list .projects .slick-arrow{
    position: absolute;
  bottom: 0;
  margin-top: -15px;
  z-index: 999;
}



/*Template 1*/
.block-views-blockabout-template-1-block-1{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
}
.template1{
    padding: 50px 0;
   
}
.template1 .views-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.template1 .views-field-body{
    max-width: 50%;
}
.template1 .views-field-field-about-image1{
    max-width: 50%;
    margin: auto;
}
.template1 .about-template-1-image{
    position: relative;
    z-index: 0;
    width: 416px;
    height: 416px;
}
.template1 .about-template-1-image::after{
    content: '';
    position: absolute;
    border-radius: 22% 78% 32% 68% / 72% 51% 49% 28% ;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: deeppink;
    width: 100%;
    height: 100%;
}
.template1 .about-template-1-image img{
    z-index: 1;
    border-radius: 72% 28% 62% 38% / 36% 50% 50% 64% ;
    width: 100%;
    height: 100%;
}
.template1 .about-template-1-image img:hover, img:focus{
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(#fff,0);
}
.template1 .about-features{
    margin: 20px 0;
}
.template1 .about-features p{
    padding: 0;
        font-size: 14px;
        color: #333;
        line-height: 24px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 20px; 
}
.template1 .about-features .aboutfeatures-inner{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding: 0;
}
.template1 .about-features .aboutfeatures-inner li{
    width: calc(50% - 20px);
    margin: 10px;
}
.template1 .about-features .about-box{
    background: #ffffff;
    padding: 25px 25px;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.template1 .about-features .about-box:hover, .about-box:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    transition: transform 0.25s ease-out;
}
.template1 .about-features .aboutbox-left{
    position: absolute;
                text-align: center;
                font-size: 28px;
                width: 28px;
                left: 34px;
                top: 24px;
                border-radius: 50%;
                height: 28px;
                line-height: 75px;
                opacity: 0.3;
                background: #ff0000;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                cursor: pointer;
                animation: pulse-p 2s infinite;
}
.template1 .about-features .aboutbox-right{
    padding-left: 50px;
}
.template1 .about-features .aboutbox-right h3{
    margin: 0;
}


/*Template 2*/
.block-views-blockabout-template-2-block-1{
    background: #fff; 
}
.template2{
    padding: 50px 0;
}
.template2 .views-row{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}
.template2 .views-field-body{
    max-width: 50%;
}
.template2 .views-field-field-about-image2{
    max-width: 50%;
    margin: auto;
}
.template2 .about-template-2-image{
    position: relative;
    z-index: 0;
    width: 416px;
    height: 416px;
}
.template2 .about-template-2-image::after{
    content: '';
    position: absolute;
    border-radius: 22% 78% 32% 68% / 72% 51% 49% 28% ;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: deeppink;
    width: 100%;
    height: 100%;
}
.template2 .about-template-2-image img{
    z-index: 1;
    border-radius: 72% 28% 62% 38% / 36% 50% 50% 64% ;
    width: 100%;
    height: 100%;
}
.template2 .template1points-list{
    padding: 0;
    list-style: none;
}
.template2 .template1points-list li .why-choos-list{
    width: 100%;
    margin: auto;
    display: block;
    padding: 12px 10px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    outline: none !important;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.template2 .template1points-list li .why-choos-list svg{
    color: deeppink;
}
.template2 .template1points-list li .why-choos-list span{
    position: relative;
            z-index: 2;
            transition: all 0.3s ease 0s;
            color: #000000;
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            padding-left: 15px;
            font-weight: 500;
}



/*Template 3*/
.block-views-blockabout-template-3-block-1{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
}
.template3{
    padding: 50px 0;
}
.template3 .views-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.template3 .views-field-body{
    max-width: 50%;
}
.template3 .views-field-field-about-image3{
    max-width: 50%;
    margin: auto;
}
.template3 .about-template-3-image{
    position: relative;
    z-index: 0;
    width: 416px;
    height: 416px;
}
.template3 .about-template-3-image::after{
    content: '';
    position: absolute;
    border-radius: 22% 78% 32% 68% / 72% 51% 49% 28% ;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: deeppink;
    width: 100%;
    height: 100%;
}
.template3 .about-template-3-image img{
    z-index: 1;
    border-radius: 72% 28% 62% 38% / 36% 50% 50% 64% ;
    width: 100%;
    height: 100%;
}
.template3 .template2-points .template2points-list{
    padding: 0;
    list-style: none;
}
.template3 .template2points-list li .why-choos-list{
    width: 100%;
          margin: auto;
          display: block;
          padding: 12px 10px;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 0.5px;
          outline: none !important;
          cursor: pointer;
          position: relative;
          overflow: hidden;
}
.template3 .template2points-list li .why-choos-list i{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 20px;
    font-size: 17px;
    transform: translateY(-50%);
    width: 100%;
    transition: all 0.3s ease 0s;
    color:deeppink; 
}
.template3 .template2points-list li .why-choos-list span{
    position: relative;
    z-index: 2;
    transition: all 0.3s ease 0s;
    color: #000000;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding-left: 15px;
    font-weight: 500;
}
.template3 .template2points-list li .why-choos-list svg{
    color: deeppink;
}



/*Pricing*/
.block-views-blockpricing-block-1{
    background: #fff;
}
.pricing-area{
    padding: 50px 0;  
}
.pricing-area .pricing-list{
    padding: 30px 0;
    margin: 0 -10px;
    list-style: none; 
}
.pricing-area .pricing-list li{
    padding: 0 10px;  
}
.pricing-area li .pricing-division{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 3px;
        overflow: hidden;
        margin-top: 30px;
        border-bottom: 3px solid rgba(145, 138, 255, 0);
        transition: .3s;
}
.pricing-area .pricing-header{
    text-align: center;
    height: 135px;
    display: block;
    position: relative;
    background: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
}
.pricing-area .pricing-header h3{
    font-weight: 800;
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 30%;
    transform: perspective(1px) translateY(0%);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.pricing-area .pricing-header p{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 60%;
    transform: perspective(1px) translateY(0%);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.pricing-area .pricing-body {
    margin-bottom: 30px;
}
.pricing-area .pricing-body .price-wrapper {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.pricing-area .currency{
    height: 47px;
    font-weight: 600;
    font-size: 18px;
    color:deeppink;
    position: relative;
    top: -15px;
    font-family: 'Poppins', sans-serif;
}
.pricing-area .price{
    font-weight: 700;
    font-size: 34px;
    color:deeppink;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.pricing-area .period{
    font-weight: 700;
    font-size: 14px;
    color: #9e9e9e;
    letter-spacing: 0.88px;
    font-family: 'Poppins', sans-serif;
}
.pricing-area .plist{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%; 
}
.pricing-area .plist li{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
    color: #CCDCEA;
    letter-spacing: 0.5px;
    text-decoration: line-through;
    font-family: 'Poppins', sans-serif;
}
.pricing-area .plist .active{
    color: #333;
    text-decoration: none;
    border-bottom: 1px dashed #d1d1d1;
    font-family: 'Poppins', sans-serif; 
}
.pricing-area .pricing-footer{
    text-align: center;
    background: #f9fafa;
    padding-top: 40px; 
}
.pricing-area .pricing-footer a{
    margin-bottom: 40px;
    margin-top: 0;
    text-decoration: none;
}
.pricing-bottom{
    position: relative;
}
.pricing-bottom .slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.pricing-bottom .slick-active button{
    background-color: deeppink;
}
.pricing-bottom button{
    display: block;
			width: 1rem;
			height: 1rem;
			padding: 0;
			
			border: none;
			border-radius: 100%;
			background-color: lightpink;
			
			text-indent: -9999px;
}





/*Review*/
.path-review{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
}
.block-views-blockreview-block-1{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
}
.review-list{
    padding: 50px 0;
}
.review-list .rating{
    padding: 0;
    margin: 0;
}
.review-list .slick-slide{
    overflow: hidden;
    position: relative;
    background: #ffffff;
    padding: 35px 25px;
    border-radius: 3px;
    z-index: 1;
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0p
}
.review-list .views-field-field-review-image{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.review-list .rating .slick-list li .views-field-field-review-image img{
    border-radius: 50%;
    border: 8px solid #ffffff;
    width: 120px;
    margin: 0 auto;
}
.review-list .views-field-body .bio-info{
    margin-top: 12px;
}
.review-list .bio-info h3{
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}
.review-list .bio-info span{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.review-list .testimonial-rating{
    display: block;
    margin-bottom: 10px;
}
.review-list .rating{
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
}
.review-list .rating li{
    display: inline-block;
    font-size: 15px;
    color: #fdae04;
    text-align: center;
    width: 4%;
    margin: 0;
}
.review-list .rating li i{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
.review-list .rating li i::before{
    content: "\f005";
}
.review-list .testimonial-content p{
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #333;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}
.review-list .rating button{
    margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 0;
  appearance: none;
}
.review-list .rating .slick-prev{
  left: 0;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid deeppink;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.review-list .rating .slick-next{
  right: 0;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid deeppink;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.review-list .rating .slick-arrow{
    position: absolute;
  top: 50%;
  margin-top: -15px;
  z-index: 999;
}



/*Questions*/
.block-views-blockquestions-block-1{
    background: #fff;
}
.question-area{
    padding: 50px 0;
}
.question-area .view-content {
    padding: 50px 0;
}
.question-area .accordion_head{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 0px;
    color: #000;
    font-weight: 400;
    margin: 0 0 15px 0;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}
.question-area .accordion_head:active{
    background: deeppink;
    color: #fff;
}
.question-area .accordion_head .plusminus{
    float: right; 
}
.question-area .accordion_body{
    background: #fff;
    margin-bottom: 30px;
}
.question-area .accordion_body p{
    padding: 20px;
    margin: 0px;
    background: deeppink;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}





/*Teams*/
.path-teams{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
}
.block-views-blockteams-block-1{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
}
.team-area{
    padding: 50px 0;
}
.team-area .view-content{
    padding: 50px 0 ;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.team-area .views-row{
    flex: 0 0 25%;
    max-width: 23%;
    margin: 0 10px;
    background: #fff;
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.team-area .team-image{
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid #8c3b1d30;
}
.team-area .team-image img{
    transition: 0.5s;
}
.team-area .team-info{
    padding: 20px 20px;
    text-align: center;
    transition: 0.5s;
}
.team-area .team-info h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    margin: 0;
    font-weight: normal;
    color: #333;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
}
.team-area .team-info p{
    margin: 0;
}
.team-area .team-info span{
    color:deeppink;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}



/*Contact Us*/
.path-contact{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);  
}
.contact-form{
    padding: 50px 0 100px;
}
.contact-form .form-item-field-name-0-value{
    margin: 0;
}
.contact-form .form-item-field-email-0-value{
    margin: 0;
}
.contact-form .form-item-field-address-0-value{
    margin: 0;
}
.contact-form .form-item-field-message-0-value{
    margin: 0;
}
.contact-form .form-wrapper{
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;  
}
.form-item{
    margin-bottom: 1em;
}
.form-item label {
    display: block;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;

}
.form-item input {
    max-width: 100%;
    border-radius: 2px;
    border: 1px solid #d09693;
    line-height: normal;
    overflow: visible;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 9px 6px;
    outline: 0;
    border: 1px solid #ccc;
}
.form-item textarea{
    width: 100%;
    overflow: auto;
    height: 100px;
    transition: height 0.3s ease-in-out;
    vertical-align: top;
    padding: 10px;
    border: 1px solid #d09693;
    line-height: normal;
    overflow: visible;
    border-radius: 2px;
}
.region-sidebar-first{
    background: #fff;
    padding: 20px;
    margin-right: 30px;
    margin-top: 50px;
}



/*Clients*/
.clients{
    padding: 50px 15px;
}
.clients .view-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
}
.clients .views-row{
    flex: 0 0 25%;
    max-width: 23%;
    margin: 0 10px;
    background: #fff;
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.clients h2 a{
    display: none;
}
.clients .node__links{
    display: none;
}
.clients .counter-divisions{
    padding: 15px 0px;
    position: relative;
    z-index: 1;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: radial-gradient(circle at 0.1% 53.8%, rgb(255, 182, 172) 0%, rgb(255, 123, 172) 100.2%);
}
.clients .counter-divisions svg{
    filter: brightness(1);
    width: 25px;
    height: 25px;
    padding: 20px;
    margin: 20px 0 0 0;
    border-radius: 50%;
    background-color: deeppink;
}
.clients .counter-divisions h3{
    margin-bottom: 0;
    margin-top: 20px;
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.clients .counter-divisions p{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
}



/*Ideas*/
.ideas{
    padding: 50px 15px;
}
.ideas .view-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 15px;
    margin-top: 40px;
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
}

.ideas h2 a{
    display: none;
}
.ideas .node__links{
    display: none;
}
.ideas .views-field-field-idea-image{
    width: 50%;
    flex: 1;
    padding: 0 20px 0 0;
    margin: 0;
    position: relative;
    display: inline-block;
}
.ideas .views-field-field-idea-image img{
    z-index: 99;
    border-radius: 72% 28% 62% 38% / 36% 50% 50% 64%;
    width: 416px;
    height: 416px;
    position: relative;
}
.ideas .views-field-body{
    width: 50%;
    display: inline-block;
}
.ideas .ideas-inner h3{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    color: deeppink;
    margin: 0;
}
.ideas .ideas-inner a{
    margin-left: 0;
}



/*LearnMore*/
.learnmore h4{
    color: #f70776;
    font-size: 16px;
    display: inline-block;
    padding: 5px 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px dashed #f70776;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    position: relative;
}
.learnmore .views-field-field-learnmore{
    border-radius: 50%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.learnmore .views-field-field-learnmore img{
    border-radius: 50%;
    
}
.learnmore .views-field-field-learnmore img::before{
    border-radius: 50%;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: deeppink;
    
}
.learnmore .overview-content{
    margin: 0;
    padding: 0;
    border: 0;
}
.learnmore .overview-parts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.learnmore .goals{
    width: 50%;
    padding-right: 130px;
}
.learnmore .objectives{
    width: 50%;
    padding-left: 130px;
}
.learnmore .goals ul{
    padding: 20px 0;
    margin: 0;
    list-style: none;
}
.learnmore .objectives ul{
    padding: 20px 0;
    margin: 0;
    list-style: none;
}
.learnmore .goals ul li{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    position: relative;
    padding-left: 20px;
}
.learnmore .objectives ul li{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-left: 20px;
}
.learnmore .goals ul li::before{
    content: '';
    background-color: deeppink;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    left: 0;
    top: 7px;
}
.learnmore .objectives ul li::before{
    content: '';
    background-color: deeppink;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    left: 0;
    top: 7px;
}


/*Bedrooom*/
.bedroom{
    padding: 50px 15px;
}
.bedroom .views-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bedroom .view-content{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
    padding: 30px;
    margin-top: 40px;
}
.bedroom h2 a{
    display: none;
}
.bedroom .node__links{
    display: none;
}
.bedroom .node__content .bedroom-image .field__label{
    display: none;
}
.bedroom .views-field-field-bedroom-image{
    width: 50%;
    flex: 1;
    padding: 0 20px 0 0;
    margin: 0;
    position: relative;
}
.bedroom .views-field-field-bedroom-image img{
    z-index: 99;
    border-radius: 72% 28% 62% 38% / 36% 50% 50% 64%;
    width: 416px;
    height: 416px;
    position: relative;
}
.bedroom .views-field-body{
    width: 50%;
}
.bedroom .views-field-body h3{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    color: deeppink;
    margin: 0;
}




/*Kitchen*/
.kitchen{
    padding: 50px 15px;
}
.kitchen .views-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.kitchen .view-content{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
    padding: 30px;
    margin-top: 40px;
}
.kitchen h2 a{
    display: none;
}
.kitchen .node__links{
    display: none;
}
.kitchen .node__content .field__label{
    display: none;
}
.kitchen .views-field-field-kitchen-image{
    width: 50%;
    flex: 1;
    padding: 0 20px 0 0;
    margin: 0;
    position: relative;
}
.kitchen .views-field-field-kitchen-image img{
    z-index: 99;
    border-radius: 72% 28% 62% 38% / 36% 50% 50% 64%;
    width: 416px;
    height: 416px;
    position: relative;
}
.kitchen .views-field-body{
    width: 50%;
}
.kitchen .views-field-body h3{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    color: deeppink;
    margin: 0;
}

/*Living*/
.living{
    padding: 50px 15px;
}
.living .views-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.living .view-content{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
    padding: 30px;
    margin-top: 40px;
}
.living h2 a{
    display: none;
}
.living .node__links{
    display: none;
}
.living .node__content .field__label{
    display: none;
}
.living .views-field-field-living-image{
    width: 50%;
    flex: 1;
    padding: 0 20px 0 0;
    margin: 0;
    position: relative;
}
.living .views-field-field-living-image img{
    z-index: 99;
    border-radius: 72% 28% 62% 38% / 36% 50% 50% 64%;
    width: 416px;
    height: 416px;
    position: relative;
}
.living .views-field-body{
    width: 50%;
}
.living .views-field-body h3{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    color: deeppink;
    margin: 0;
}



/*Dining*/
.dining{
    padding: 50px 15px;
}
.dining .views-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.dining .view-content{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
    padding: 30px;
    margin-top: 40px;
}
.dining h2 a{
    display: none;
}
.dining .node__links{
    display: none;
}
.dining .node__content .field__label{
    display: none;
}
.dining .views-field-field-dining-image{
    width: 50%;
    flex: 1;
    padding: 0 20px 0 0;
    margin: 0;
    position: relative;
}
.dining .views-field-field-dining-image img{
    z-index: 99;
    border-radius: 72% 28% 62% 38% / 36% 50% 50% 64%;
    width: 416px;
    height: 416px;
    position: relative;
}
.dining .views-field-body{
    width: 50%;
}
.dining .views-field-body h3{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    color: deeppink;
    margin: 0;
}





/*About interior*/
.about-theme{
    padding: 50px 15px;
}
.about-theme .views-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-theme .view-content{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
    padding: 30px;
    margin-top: 40px;
}
.about-theme h2 a{
    display: none;
}
.about-theme .node__links{
    display: none;
}
.about-theme .node__content .about-theme .field__label{
    display: none;
}
.about-theme .views-field-field-about-theme{
    width: 50%;
    flex: 1;
    padding: 0 20px 0 0;
    margin: 0;
    position: relative;
}
.about-theme .views-field-field-about-theme img{
    z-index: 99;
    border-radius: 72% 28% 62% 38% / 36% 50% 50% 64%;
    width: 416px;
    height: 416px;
    position: relative;
}
.about-theme .views-field-body{
    width: 50%;
}
.about-theme .views-field-body h3{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    color: deeppink;
    margin: 0;
}

#edit-actions {
       display: inline-flex;
}
#edit-actions #edit-submit {
    padding: 10px 23px
}
#edit-subject-0-value {
     width: 100%;
}


.js-form-type-checkbox {
       margin-left: 15px;
}
.js-form-type-checkbox .option {
   display: inline-block;
}




/* footer */
 .footer{
    background: radial-gradient(circle at 0.1% 53.8%, rgb(255, 182, 172) 0%, rgb(255, 123, 172) 100.2%);
    margin-top: 30px;
 }
.footer .footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.footer .left{
            font-size: 46px;
            font-weight: bold;
            letter-spacing: 0px;
            color: #FFFFFF;
            text-transform: uppercase;
            opacity: 1;
            margin-right: 10px;
            width: calc(30% - 10px);
}
.footer .left h5{
    margin: 0;
}
.footer .Middle{
    width: 30%;
}
.footer .region-footer-second{
    padding: 10px;
}
.footer .region-footer-second  a{
    font-size: 18px;
          letter-spacing: 0px;
          color: #FFFFFF !important;
          opacity: 1;
          display: flex;
          align-items: center;
          transition: all 0.6s;
          text-decoration: none;
}
.footer .region-footer-second  a svg{
    padding: 0 20px 0 0;
}
.footer .footer-section .right{
    width: 30%;
}
.footer .region-footer-third span{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.footer .footer-section .right  p{
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    line-height: 26px;
}



/*Mobile responsive*/
@media only screen and (max-width:768px){

.wrapper{
    padding: 0 15px;
}
.button{
    justify-content: center;
    align-items: center;
}
h6{
    font-size: 16px;
}
h2{
    font-size: 25px;
}
p{
    font-size: 12px;
    line-height: 15px;
}

/*header*/
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.nav-menu {
    position: fixed;
    right: -100%;
    padding: 0;
    top: 55px;
    flex-direction: column;
    background: radial-gradient(circle at 0.1% 53.8%, rgb(255, 182, 172) 0%, rgb(255, 123, 172) 100.2%);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 999;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    list-style: none;
    display: none !important;
}
.nav-menu.active {
    right: 0;
    display: flex !important;
}

.nav-item {
    margin: 0;
}
.nav-item a{
   text-decoration: none;
   font-size: 14px;
   color: #fff;
   padding: 10px;
   font-family: 'Poppins', sans-serif;
}

.hamburger {
    display: block;
    cursor: pointer;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.header .nav-menu{
    position: absolute;   
    margin: 0;
    padding: 0;  
} 
 
.header .nav-menu .nav-item:hover{
    background-color: deeppink;
    position: relative;
}

.header .nav-menu .nav-item .arrow-icon{
    display: inline-block;
    right: 131px;
    width: 12px;
    top: 15px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 1px;
    position: absolute;
}
 

/*Banner*/
.banner-area .banner-content{ 
    padding: 20px;
}
.banner-area .banner-content h1{
    font-size: 25px;
    margin-bottom: 10px;
}
.banner-area .banner-content h2{
    font-size: 12px;
    margin-bottom: 10px;
}
.banner-area .banner-content p{
    font-size: 8px;
}

/*Project*/
.block-views-blockproject-block-1{
    padding: 25px 0;
}
.project-area{
    padding: 25px 0;
}
.project-list .projects{
    padding: 20px 0 30px 0;
}
.project-list .projects button{
    margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 0;
  appearance: none;
}
.project-list .projects .slick-prev{
    left: 43%;
   }
.project-list .projects .slick-next{
       right: 43%;
   }


/*Template1*/
.block-views-blockabout-template-1-block-1{
    padding: 25px 0;
}
.template1 .views-row{
    display: inline-block;
}
.template1 .about-template-1-body .about-left h6{
    font-size: 14px;
}
.template1 .about-template-1-body .about-left h2{
    font-size: 17px;
}
.template1 .views-row .views-field-body{
    max-width: 100%;
}
.template1 .about-left .about-features .aboutfeatures-inner li .about-box{
    padding: 12px;
}
.template1 .about-left .aboutbox-left{ 
    left: 4px;
    top: 12px;
    width:15px;
    height: 15px;
}
.template1 .about-left .aboutbox-right{
    padding-left: 10px;
}
.template1 .about-left .aboutbox-right h3{
    font-size: 16px;
}
.template1 .about-template-1-image {
    width: 200px;
    height: 200px;
}


/*Template2*/
.block-views-blockabout-template-2-block-1{
    padding: 25px 0;
}
.template2 .views-row{
    display: inline-block;
}
.template2 .about-template-2-body h6{
    font-size: 14px;
}
.template2 .about-template-2-body h2{
    font-size: 17px;
}
.template2 .views-field-body{
    max-width: 100%;
}
.template2 .template1points-list li .why-choos-list{
    padding: 10px;
    font-size: 10px;
}
.template2 .about-template-2-image{
    width: 200px;
    height: 200px;
}




/*Template3*/
.block-views-blockabout-template-3-block-1{
    padding: 25px 0;
}
.template3 .views-row{
    display: inline-block;
}
.template3 .about-template-3-body h6{
    font-size: 14px;
}
.template3 .about-template-3-body h2{
    font-size: 17px;
}
.template3 .views-field-body{
    max-width: 100%;
}
.template3 .template2points-list li .why-choos-list{
    padding: 10px;
    font-size: 10px;
}
.template3 .about-template-3-image{
    width: 200px;
    height: 200px;
}




/*Pricing*/
.block-views-blockpricing-block-1{
    padding: 25px 0;
}
.pricing-area .pricing-list{
    display: block;
    padding: 20px 0 40px 0;
}
.pricing-area .pricing-list li{
    width: 100%; 
}
.pricing-area .pricing-division .pricing-footer{
    padding-top: 0; 
}
.pricing-area .pricing-division .pricing-footer a{
    margin-bottom:0;
}
.pricing-area .pricing-bottom{
    margin-bottom: 40px;
}


/*Review*/
.review-area{
    padding:25px 0;
}
.review-area .view-content{
    padding: 25px 0 0 0;
}
.review-list{
    padding: 25px 0;
}


/*Questions*/
.block-views-blockquestions-block-1{
    padding: 25px 0;
}

/*Team*/
.block-views-blockteams-block-1{
    padding: 25px 0;
}
.team-area .view-content{
    padding: 25px 0 ;
    margin-bottom: 40px;
}
.team-area .views-row{
    flex: 0 0 50%;
    max-width: 44%;
}
.team-area .team-info{
    padding: 10px 10px;
}
.team-area .team-info h3{
    font-size: 12px;
}
.team-area .team-info span{
    font-size: 10px;
}


/* footer */
.footer .footer-section{
    display: block;
    padding: 25px 0;
}
.footer .footer-section .left{
    width: 100%;
    font-size: 30px;
}
.footer .footer-section .Middle{
    margin: 20px 0;
    width: 100%;
}
.footer .footer-section .right{
    width: 100%;
}


/*Ideas*/
.ideas .view-content{
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 40px;
}
.ideas .views-field-field-idea-image{
    width: 100%;
    display: flex;
    justify-content: center;
}
.ideas .views-field-field-idea-image img{
    width: 200px;
    height: 200px;
}
.ideas .views-field-body{
    width: 100%;
    padding-top: 50px;
}
.ideas .ideas-inner h3 {
    font-size: 22px;
}

/*Clients*/
.clients .view-content{
    padding: 30px 0 50px 0;
}
.clients .views-row{
    flex: 0 0 100%;
    max-width: 100%;
    
}



/*Bedrooom*/
.bedroom .views-row{
    display: inline-block;
}
.bedroom .view-content{
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.bedroom .views-field-field-bedroom-image{
   width: 100%;
   display: flex;
   justify-content: center;
}
.bedroom .views-field-field-bedroom-image img{
    width: 200px;
    height: 200px;
}
.bedroom .views-field-body{
    width: 100%;
    padding-top: 30px;
}
.bedroom .views-field-body h3{
    font-size: 22px;
}

/*Dining*/
.dining .views-row{
    display: inline-block;
}
.dining .view-content{
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.dining .views-field-field-dining-image{
   width: 100%;
   display: flex;
   justify-content: center;
}
.dining .views-field-field-dining-image img{
    width: 200px;
    height: 200px;
}
.dining .views-field-body{
    width: 100%;
    padding-top: 30px;
}
.dining .views-field-body h3{
    font-size: 22px;
}



/*LearnMore*/

.learnmore .overview-parts{
    display: inline-block;
}
.learnmore .goals{
    width: 100%;
    padding-right: 0;
}
.learnmore .objectives{
    width: 100%;
    padding-left: 0;
}
.learnmore .goals ul{
    padding: 20px 0;
    margin: 0;
    list-style: none;
}
.learnmore .objectives ul{
    padding: 20px 0;
    margin: 0;
    list-style: none;
}
.learnmore .goals ul li{
    font-size: 13px;
}
.learnmore .objectives ul li{
    font-size: 13px;
}
.learnmore .goals ul li::before{
    width: 9px;
    height: 9px;
}
.learnmore .objectives ul li::before{
    width: 9px;
    height: 9px;
}


/*Kitchen*/
.kitchen .views-row{
    display: inline-block;
}
.kitchen .view-content{
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.kitchen .views-field-field-kitchen-image{
   width: 100%;
   display: flex;
   justify-content: center;
}
.kitchen .views-field-field-kitchen-image img{
    width: 200px;
    height: 200px;
}
.kitchen .views-field-body{
    width: 100%;
    padding-top: 30px;
}
.kitchen .views-field-body h3{
    font-size: 22px;
}


/*Living*/
.living .views-row{
    display: inline-block;
}
.living .view-content{
    padding: 30px;
    margin-bottom: 50px;
}
.living .views-field-field-living-image{
   width: 100%;
   display: flex;
   justify-content: center;
}
.living .views-field-field-living-image img{
    width: 200px;
    height: 200px;
}
.living .views-field-body{
    width: 100%;
    padding-top: 30px;
}
.living .views-field-body h3{
    font-size: 22px;
}



/*About-theme*/
.about-theme .views-row{
    display: inline-block;
}
.about-theme .view-content{
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.about-theme .views-field-field-about-theme{
   width: 100%;
   display: flex;
   justify-content: center;
}
.about-theme .views-field-field-about-theme img{
    width: 200px;
    height: 200px;
}
.about-theme .views-field-body{
    width: 100%;
    padding-top: 30px;
}
.about-theme .views-field-body h3{
    font-size: 22px;
}

/*Contact*/

.path-contact .side-con {
    display:inline-block;
}


}





/*Ipad responsive*/
@media only screen and (max-width:1024px) and (min-width:768px){

.wrapper{
    padding: 0 15px;
}
p{
    font-size: 16px;
    line-height: 24px;
}
h6{
    font-size: 20px;
}
h2{
    font-size: 40px;
}


/*header*/
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.nav-menu {
    position: fixed;
    right: -100%;
    padding: 0;
    top: 55px;
    flex-direction: column;
    background: radial-gradient(circle at 0.1% 53.8%, rgb(255, 182, 172) 0%, rgb(255, 123, 172) 100.2%);
    width: 50%;
    text-align: center;
    transition: 0.3s;
    z-index: 999;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
        list-style: none;
}
.nav-menu.active {
    right: 0;
    display: flex !important;
}

.nav-item {
    margin: 0;
}
.nav-item a{
   text-decoration: none;
   font-size: 14px;
   color: #fff;
   padding: 10px;
   font-family: 'Poppins', sans-serif;
}
.nav-item a::before{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
 }
.nav-item a:hover::before{
    transform: scaleX(1);
}
.hover-1:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #492059;
    transform: scaleX(0);
}

.hamburger {
    display: block;
    cursor: pointer;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


.header .nav-menu{
    position: absolute;   
    margin: 0;
    padding: 0;  
} 
 
.header .nav-menu .nav-item:hover{
    background-color: deeppink;
    position: relative;
}

.header .nav-menu .nav-item .arrow-icon{
    display: inline-block;
    right: 35%;
    width: 12px;
    top: 15px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 1px;
    position: absolute;
}


/*Banner*/
.banner-area .banner-content{ 
    padding: 30px;
}
.banner-area .banner-content h1{
    font-size: 60px;
    margin-bottom: 10px;
}
.banner-area .banner-content h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.banner-area .banner-content p{
    font-size: 16px;
}


/*Project*/
.block-views-blockproject-block-1{
    padding: 25px 0;
}
.project-list .projects button{
    margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 0;
  appearance: none;
}
.project-list .projects .slick-prev{
 left: 47%;
}
.project-list .projects .slick-next{
    right: 47%;
}

/*Template1*/
.block-views-blockabout-template-1-block-1{
    padding: 25px 0;
}
.template1 .views-row .about-template-1-body .about-left h6{
    font-size: 25px;
}
.template1 .views-row .about-template-1-body .about-left h2{
    font-size: 20px;
}
.template1 .views-row .about-template-1-body .about-left .about-features .aboutfeatures-inner li .about-box{
    padding: 25px 25px;
}
.template1 .views-row .about-template-1-body .about-left .about-features .aboutfeatures-inner li .about-box .aboutbox-left{ 
    left: 34px;
    top: 24px;
    width:28px;
    height: 28px;
}
.template1 .views-row .about-template-1-body .about-left .about-features .aboutfeatures-inner li .about-box .aboutbox-right h3{
    font-size: 22px;
}
.template1 .views-row .about-template-1-body .about-left .about-features .aboutfeatures-inner li .about-box .aboutbox-right{
    padding-left: 50px;
}
.template1 .about-template-1-image {
    width: 300px;
    height: 300px;
}




/*Template2*/
.block-views-blockabout-template-2-block-1{
    padding: 25px 0;
}
.template2 .views-row .about-template-2-body  h6{
    font-size: 25px;
}
.template2 .views-row .about-template-2-body h2{
    font-size: 20px;
}
.template2 .views-row .about-template-2-body .template1-points .template1points-list li .why-choos-list{
    padding: 12px 10px;
    font-size: 14px;
}
.template2 .about-template-2-image {
    width: 300px;
    height: 300px;
}





/*Template3*/
.block-views-blockabout-template-3-block-1{
    padding: 25px 0;
}
.template3 .views-row .about-template-3-body  h6{
    font-size: 25px;
}
.template3 .views-row .about-template-3-body h2{
    font-size: 20px;
}
.template3 .views-row .about-template-3-body .template2-points .template2points-list li .why-choos-list{
    padding: 12px 10px;
    font-size: 14px;
}
.template3 .about-template-3-image {
    width: 300px;
    height: 300px;
}


/*Pricing*/
.block-views-blockpricing-block-1{
    padding: 25px 0;
}


/*Team*/
.block-views-blockteams-block-1{
    padding: 25px 0;
}
.team-area .view-content{
    margin-left: 0;
}
.team-area .view-content .views-row .team-info{
    padding: 20px 20px;
}
.team-area .view-content .views-row .team-info h3{
        font-size: 18px;
}
.team-area .view-content .views-row .team-info span{
    font-size: 14px;
}



/* footer */
.footer .footer-section{
    display: flex;
    padding: 25px 0;
}
.footer .footer-section .left{
    width: 100%;
    font-size: 38px;
}



/*Clients*/
.clients .view-content{
    padding: 30px 0 50px 0;
}
.clients .views-row{
    flex: 0 0 50%;
    max-width: 46%;
    
}

/*Bedrooom*/
.bedroom .views-row{
    display: flex;
}
.bedroom .view-content{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.bedroom .views-field-field-bedroom-image{
    width: 50%;
}
.bedroom .views-field-field-bedroom-image img{
    width: 300px;
    height: 300px;
}
.bedroom .views-field-body{
    width: 50%;
}



/*Dining*/
.dining .views-row{
    display: flex;
}
.dining .view-content{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
    padding: 30px;
    margin-bottom: 50px;
}

.dining .views-field-field-dining-image{
    width: 50%;
}
.dining .views-field-field-dining-image img{
    width: 300px;
    height: 300px;
}
.dining .views-field-body{
    width: 50%;
}


/*Kitchen*/
.kitchen .views-row{
    display: flex;
}
.kitchen .view-content{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
    padding: 30px;
    margin-bottom: 50px;
}

.kitchen .views-field-field-kitchen-image{
    width: 50%;
}
.kitchen .views-field-field-kitchen-image img{
    width: 300px;
    height: 300px;
}
.kitchen .views-field-body{
    width: 50%;
}



/*Living*/
.living .views-row{
    display: flex;
}
.living .view-content{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.living .views-field-field-living-image{
    width: 50%;
}
.living .views-field-field-living-image img{
    width: 300px;
    height: 300px;
}
.living .views-field-body{
    width: 50%;
}



/*About-theme*/
.about-theme .views-row{
    display: inline-block;
}
.about-theme .view-content{
    background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.about-theme .views-field-field-about-theme{
    width: 100%;
}
.about-theme .views-field-field-about-theme img{
    width: 300px;
    height: 300px;
}
.about-theme .views-field-body{
    width: 100%;
}
}
.node--type-article,
.node--type-page {
    margin-bottom: 50px;
}
article .field--name-field-tags {
    margin-bottom: 18px;
}
article .node-readmore a {
    background-color: #636bf2;
    color: #fff;
    padding: 8px 18px;
    text-decoration: none;
    border: 1px solid #636bf2;
    border-radius: 4px;
}
article .node-readmore a:hover {
    background-color: #57298c;
    color: #fff;
    border: 1px solid #57298c;
}
article .node-readmore {
    margin-right: 15px;
}
ul.inline li {
    padding-left: 0;
}
nav.pager {
    margin-bottom: 40px;
}
nav.pager ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
  }
  nav.pager ul li a {
    text-decoration: none;
    padding: 5px 12px;
    background-color: #636bf2;
    color: #fff;
    border: 1px solid #636bf2;
    border-radius: 4px;
  }
  nav.pager ul li a:hover {
    background: #57298c;
    color: #fff;
    border: 1px solid #57298c;
  }
  .search-block-form .form-search {
    border: 1px solid #d09693;
  }
  .search-block-form input#edit-submit {
    margin-top: 0;
  }