{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  <header class="header">
    <div class="wrapper">
        <div class="header-inner">
            <div class="navigation">
                {{ page.header }}
            </div>
            
        </div>
    </div> 
  </header>
  <div class="banner">
    {{ page.banner }}
</div>


  {# {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }} #}
     <div
        class="side-con">


        {# {% endif %} #}

        {% if page.sidebar_first %}
        
            <div id="sidebar-first" class="column sidebar">
                <div class="wrapper">
                <aside class="section" role="complementary">
                
                    {{ page.sidebar_first }}
                </aside></div>
            </div>
        

        {% endif %}
        <div id="front-main-content" class="wrapper">
                {{ page.content }}
            </div>


        {% if page.sidebar_second %}
       
            <div id="sidebar-second" class="column sidebar">
             <div class="wrapper">
                <aside class="section" role="complementary">
                    {{ page.sidebar_second }}
                </aside> </div>
            </div>
       
        {% endif %}

    </div>
  <main role="main">

    <a id="main-content" tabindex="-1"></a>
        
    <div class="layout-content">
      
      {# <div class="about_template_2_division">
        {{ about_template_2 }}
      </div>
      <div class="about_template_3_division">
        {{ about_template_3 }}
      </div>
      <div class="pricing">
        {{ pricing }}
      </div>
      <div class="questions">
        {{ questions }}
      </div>
      <div class="review">
        {{ review }}
      </div> #}
      
    </div>

  </main>

  <footer class="footer">
        <div class="wrapper">
            <div class="footer-section">
                <div class="left">
                    {{ page.footer_first }}
                </div>
                <div class="Middle">
                    {{ page.footer_second }}
                </div>
                <div class="right">
                    {{ page.footer_third }}
                </div>
            </div>
        </div>

    </footer>

</div>{# /.layout-container #}